{{- define "main" }}
{{- $isNewsletter := eq .Type "newsletter" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}

    {{- if $isNewsletter -}}
      {{- partial "newsletter_brand.html" . }}
    {{- end -}}
    <h1 class="post-title">
      {{- if $isNewsletter -}}
        {{- replace .Title (.Param "titlePrefix") (.Param "titlePrefixReplace") -}}
      {{- else -}}
        {{- .Title -}}
      {{- end -}}
      {{- if .Draft -}}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end -}}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{- .Description -}}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{/* TODO move to footer */}}
      {{/* partial "edit_post.html" . */}}
      {{/* partial "post_canonical.html" . */}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  {{ $currRellink := .RelPermalink }}
  {{ $currSlug := .File.BaseFileName }}
  {{ $backlinks := slice }}
  
  {{ range .Site.Pages }}
      {{ if ne .RelPermalink $currRellink }}
          {{ $content := .Content }}
          {{ $foundExact := findRE (printf `href="%s"` $currRellink) $content }}
          {{ $foundRelative := findRE (printf `href=".*/(%s)/"` $currSlug) $content }}
          {{ $foundSlug := findRE (printf `href=".*%s.*"` $currSlug) $content }}
          {{ if or $foundExact $foundRelative $foundSlug }}
              {{ $backlinks = $backlinks | append . }}
          {{ end }}
      {{ end }}
  {{ end }}
    
  {{ if $backlinks }}
  
  
 
  <div class="backlink">
    <hr>
    <h4>Linked mentions</h4>
    <div class="linked-mentions">
      {{ range $backlinks }}
      <a href="{{ .RelPermalink }}"><div class="mention-item">
          <h5>{{ .Title }}</h5>
          <div class="entry-content">{{ .Summary }}</div>
        </div></a>
      {{ end }}
    </div>
  </div>

  {{ end }}

  <footer class="post-footer">
    {{- if (.Param "socialLinks") }}
    {{- partial "social_links.html" . }}
    {{- end }}

    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}

    {{- if $isNewsletter }}
      <div class="newsletter-sub">
        <div class="notice">
          {{- if site.Params.newsletter.notice.usePartial }}
            {{- partial "newsletter_notice.html"}}
          {{- else }}
            {{- site.Params.newsletter.notice.content | default "Thanks for reading, if you like it, please subscribe below." }}
          {{- end }}
        </div>
        {{- partial "newsletter_sub_form.html"}}
      </div>
    {{- end }}
  </footer>

  {{- if not (.Param "noComments") }}
    <div class="comments-separator"></div>
    {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
